.app__container {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-gap: 10px;
}

.app__container-minutes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-column: 1 / span 4;
}

.app__box {
  border-radius: 4px;
}

.app__box--hour {
  width: 50px;
  height: 30px;
}

.app__box--second {
  grid-column: 1 / span 4;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.app__box--minute {
  width: 12px;
  height: 30px;
}
