@page "/"

@using FizzBuzz.Shared
@using System.Threading
@inject HttpClient Http

<h1>Fizz Buzz!</h1>

<p>Please select the variation and enter the last number.</p>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in data)
            {
                <tr>
                    <td>@item</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string[] data;

    protected override async Task OnInitializedAsync()
    {
        data = await Http.GetFromJsonAsync<string[]>("FB" + $"?variationNumber={1}&&max={16}");
    }
}