.berlin-clock-container
{
   width:50%;
   height:100%;
   display: flex;
   flex-direction: column;
}

.berlin-clock-row
{
    height:50px;
    display: flex;
    flex-direction: row;
}

.berlin-clock-cell
{
    border: 2px solid black;
    flex: 1 1;
}

.berlin-clock-hour-active
{
    background-color: red;
}

.berlin-clock-hour-inactive
{
    background-color: darkred;
}

.berlin-clock-minute-active
{
    background-color: orange;
}

.berlin-clock-minute-inactive
{
    background-color: saddlebrown;
}

.berlin-clock-minute-special-active
{
    background-color: red;
}

.berlin-clock-minute-special-inactive
{
    background-color: darkred;
}

.berlin-clock-second
{
    width:50px;
    border-radius: 100%;
}

.berlin-clock-second-active
{
    background-color: orange;
}

.berlin-clock-second-inactive
{
    background-color: saddlebrown;
}