.row {
  vertical-align: top;
}

.box {
  display: inline-block;
  outline: 2px solid #000000;
  width: 64px;
  height: 64px;
}

.black {
   background-color: #333333;
}

.white {
   background-color: #FFFFFF;
}

.north {
   background-image: '../images/n_ant.png';
}

.south {
   background-image: '../images/s_ant.png';
}

.west {
   background-image: '../images/w_ant.png';
}

.east {
   background-image: '../images/e_ant.png';
}