<div class="world">
  <%= for row <- String.split(@csv, "\n") do %>
    <div class="row">
      <%= for cell <- row |> String.split(",") |> Enum.map(&(String.pad_leading(&1, 2, " "))) do %>
        <div class="cell cell--<%= String.at(cell, 1) %> ameise--<%= String.at(cell, 0) %>">
          <%= cell %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<pre><%= @csv %></pre>

<script type="text/javascript">
  setInterval(function() { window.location.reload(); }, 1000);
</script>
