/* Folie: Titel */

.remark-slide-content.title {
  text-align: center;
  background-image: url(../img/_base/background.title.png);
}
.remark-slide-content.title .remark-slide-number {
  display: none;
}
